[build]
  publish = "dist"
  command = "npm run build"

[functions]
  external_node_modules = ["express", "pg", "sequelize", "cors"]
  node_bundler = "esbuild"
  
[[redirects]]
  force = true
  from = "/api/*"
  status = 200
  to = "/.netlify/functions/api/:splat"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

