[build]
  publish = "dist"
  command = "npm run build"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["pg", "pg-hstore"]
  
[[redirects]]
  force = true
  from = "/api/*"
  status = 200
  to = "/.netlify/functions/api/api/:splat"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
  command = "npm run dev"
  port = 8888
  targetPort = 5173

  [build.environment]
  NODE_VERSION = "18"